<%= form_for @post do |f| %>
  <div class="pure-form pure-form-stacked">
    <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="pure-g-r">
      
      <p class="pure-u-1-2">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
     
      <p class="pure-u-1-2">
        <%= f.label :lead %>
        <%= f.text_field :lead %>
      </p>

      <p class="pure-u-1-2">
        <%= f.label :text %>
        <%= f.text_area :text %>
      </p>
     
      <p>
        <%= f.submit :class => "pure-button notice" %>
      </p>
    </div>
  </div>
<% end %>

