
<div class="pure-u-1-2">
  <%= link_to 'New post', new_post_path %>
</div>

<% @posts.each do |post| %>
  <section class="post pure-u-1">
    <header class="post-header">
      <h2 class="post-title pure-u-1"><%= post.title %></h2>
    </header>

    <div class="post-description pure-u-1">
      <p>
        <%= post.lead %>
        <div class="pure-u-1-2">
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post_path(post),
                        method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </p>
    </div>
  </section>
<% end %>