<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>Internaut</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header pure-u-1">
            <hgroup>
                <h1 class="brand-title">Internaut</h1>
                <h2 class="brand-tagline">Discovering the Interwebs</h2>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">About</a>
                    </li>
                    <li class="nav-item">
                        
                          <%= link_to 'Home', posts_path, :class => "pure-button" %>
                        
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content pure-u-1">
        <!-- A wrapper for all the blog posts -->
        <div class="posts pure-g">
            <h1 class="content-subhead pure-u-1">Pinned Post</h1>

            <!-- A single blog post -->
          
            <%= yield %>
            
        </div>

        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="http://purecss.io/">About</a></li>
                    <li><a href="http://twitter.com/yuilibrary/">Twitter</a></li>
                    <li><a href="http://github.com/yui/pure/">Github</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>

<script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('.content').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>


<%= javascript_include_tag "application" %>
</body>
</html>
